<section class="section">
  <div class="container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="img" src="../img/orange-desk.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="img" src="../img/blue-desk.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="img" src="../img/purple-desk.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="img" src="../img/red-desk.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="img" src="../img/yellow-desk.jpg" alt="" />
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
